<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>Sneakers Geek Homepage</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus voluptates enim, aut illo iure incidunt libero
        voluptatibus quam maiores eligendi at tenetur totam, consequuntur doloribus, velit cupiditate. Officia, libero
        voluptate!</p>

</body>

<form action="/login" method="post">
    <button><a href="/login/logout">Logout</a></button>
</form>


</html>